body {
	background-image:url("earthAtNight.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color:white;
	margin:0;
	padding:0;
	position: relative;
	padding-bottom: 6rem;
	min-height: 100%;
}

hr {
	margin-top:0;
}

h3 {
	color:white;
	margin-bottom:20px;
}

#links {
	align-content: center;
	text-align: center;
}

.link {
	width:50%;
	float:left;
	color:lightblue;
}


.login {
  margin-top: 1.6em;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255,255,255,0);
  text-align: center;
}

.mainParts {
	background-color: rgba(255,255,255,.18);
	border: 1px solid white;
	border-radius: 2em;
	text-align:center;
}

#partOne {
	height:60em;
	width:100%;

}
#partTwo {
	width:100%;
	height:40em;
}

#partThree {
	margin-bottom: 6em;
	height:10em;
}


#heightMaint {
	height:90%;
}

#chatInput {
	height:7%;
	margin:0;
	border:0;
	border-top:1px solid white;
	padding-top:1em;
	padding-bottom:1em;
	font-size: 14px;
	/*border-bottom:1px solid white;*/
	width:100%;
	background-color: rgba(0,0,0,0);
	text-align: center;
	color:white;
}

::-webkit-input-placeholder {
    color:rgba(255,255,255,.65);
}

#footerSpacer {
	height:10em;
}


@media (min-width:600px) {
	#links {
		border:1px solid white;
		border-radius: 10em;
		padding-top:.8em;
		padding-bottom: .8em;
		background-color: rgba(255,255,255,.18);
		display:flex;
		justify-content: space-between;
	}

	#partOne {
		width:66.3%;
		margin-right:1.4%;
		float:left;
	}

	#partThree {
		height:18.5em;
		width:100%;
		margin-top: 1.5em;
		margin-bottom: 6em;

	}

	#partTwo {
		width:32.3%;
		float:left;
	}

	#footerSpacer {
		height:2em;
	}
}






