body {
	background-image:url("earthAtNight.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color:white;
	margin:0;
	padding:0;
	position: relative;
	padding-bottom: 6rem;
	min-height: 100%;
}

h3 {
	color:white;
	margin-bottom:20px;
}

#links {
	align-content: center;
	text-align: center;
}

.link {
	width:50%;
	float:left;
	color:lightblue;
}


.login {
  margin-top: 1.6em;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255,255,255,0);
  text-align: center;
}

.mainParts {
	height:60em;
	background-color: rgba(255,255,255,.18);
	border: 1px solid white;
	border-radius: 2em;
	text-align:center;
}

#partOne {
	width:100%;

}
#partTwo {
	width:100%;
}


@media (min-width:600px) {
	#links {
		border:1px solid white;
		border-radius: 10em;
		padding-top:.8em;
		padding-bottom: .8em;
		background-color: rgba(255,255,255,.18);
		display:flex;
		justify-content: space-between;
	}

	#partOne {
		width:66.3%;
		margin-right:1.4%;
		float:left;
	}

	#partTwo {
		width:32.3%;
		float:left;
	}

}






