.w100 {
	width:100%;
}


body {
	margin:0px;
	background-color: black;
}

img {
	height:5em;
	width:5em;
}

video {
	padding-top:5em;
	padding-left:40%;
	margin-bottom:15em;
	height:45em;
	min-width:30em;
	position:relative;
	z-index

}

button {
	background-color:rgba(0,0,0,0);
	border:0px;
	color:white;
}

#theWorldLottery {
	color:yellow;
}
#heroContainer{
	position:relative;
	height:55em;
	z-index:5;
}

#lottoB {border-color:blue;}
#raffleB {border-color:lime;}
#theWorldLottery {border-color:yellow;}
#contact {border-color:orange;}
#signIn {border-color:red;}


.buttonColor {
	border-bottom:2px solid;
	/*border-left:2px solid;
	border-right:2px solid;*/
	border-radius:1em;
}

.button:hover, #theWorldLottery:hover {
	color:orange;
}

.picBox {
	height:27em;
	width:32%;
	border: 2px solid white;
	margin-top:1em;
	margin-bottom:1em;

	background-color:white;
}

.heroTextOpac {
	opacity:1;
}

.fourBox {
	width:23%;
	border: 1px solid black;
	background-color:black;
	color:white;
	border-radius:1em;
	/*display:flex;
	justify-content:center;*/
	text-align:center;
	margin-bottom:1em;
}

.socialLink {
	height:5em;
	width:5em;
	border:1px solid black;
	margin-left:1em;
	margin-right:1em;
	display:inline-block;
	margin-top: 2em;
}

#spacer {
	height:5em;
	background-color:rgba(0,0,0,0);
	z-index:-10;
}

#header {
	height: 3.5em;
	background-color:rgba(0,0,0);
	opacity:.55;
	display:flex;
	justify-content:space-around;
	position:fixed;
	z-index: 10;
}


#heroArea {
	background-color:rgba(0,0,0,0);
	text-align:center;
	position:absolute;
	top:8%;
	padding-right:40%;
	color:rgba(0,0,0,.5);

}

#heroArea h1 {
	margin-top:15%;
	font-size:4.5em;
	color:#74d6ff;
}


#motto {
	color:white;
	font-size:1.3em;
}

#subtext {
	font-size:8px;
	color:white;
	text-align:center;
}

.registerButton {
	margin-top: 2em;
	width:50%;
	min-width:12em;
	background-color: rgba(0,0,0,0);
	border:.2em solid;
	border-radius: 1em;
	font-size:1.3em;
	border-color:#00ff00;
	color:#00ff00;
}

.registerButton:hover {
	/*initial color test*/
	/*background: rgba(0,255,0,0);
	background: -webkit-linear-gradient(right,rgba(0,255,0,0),rgba(0,255,0,.2),rgba(0,255,0,0));
	background: -o-linear-gradient(left,rgba(0,255,0,0),rgba(0,255,0,.2),rgba(0,255,0,0));
	background: -moz-linear-gradient(left,rgba(0,255,0,0),rgba(0,255,0,.2),rgba(0,255,0,0));
	background: linear-gradient(to bottom, rgba(0,255,0,0), rgba(0,255,0,.2),rgba(0,255,0,0));*/

	/*different styling test*/
	background-color:#00ff00;
	color:white;

}

#pics {
	background-color:rgba(48,214,84,1);
	display:flex;
	justify-content:space-around;
}

#fourStep {
	background-color:rgba(22,146,193,.5);
	display:flex;
	justify-content:space-around;
	padding-top:1em;
	margin-bottom: 1em;
} 

#socialLinksBack {
	display:flex;
	justify-content:center;
}

#slContainer {
	display:flex;
	justify-content:space-between;
	padding-top:3em;
	margin-bottom:3em;
}

#address {
	text-align:center;
	padding-top:.5em;
	color:rgba(255,255,255,.8);
}


