#personalinfo {
	color: yellow;
}

a#l1, h4, p {
	color: white;
}

a#l2 {
	color: gold;
}

input{
	color:blue;
	background-color:rgba(255,255,255,.5);
	border:0;
	text-align:center;

}

body{
	background-color:#504677;
}

a#l3 {
	color: #28DE5F;
}

.whitetext {
	color: white;
	text-decoration: underline;
	font-family: verdana;
	font-size: 40px;
}

#errorMessage{
	color:red;
}
#border1 { 
	color:rgb(255,255,255);
	border: 2px solid white;
	width: 450px;
	margin: auto;
 }

#border2 { 
	color:rgb(255,255,255);
	border: 2px solid white;
	width: 450px;
	top: 125px;
	margin: auto;
 }

h3{
	margin-bottom:20px;
	margin-top:0;
}

body, #border2 {
	text-align: center;
}



div>h4 {
	text-decoration: underline;
	font-size: 20px;
}

/* unvisited link (:link) */
.linkage:link {
    color: rgb(0,255,221);
}
/* visited link (:visited) */
.linkage:visited {
    color: yellow;
}
/* mouse hover over link (:hover) */
.linkage:hover {
    color: orange;
}
/* active/selected link (:active) */
.linkage:active {
    color: green;
}

#createacct {
	margin-right: 15px;
}
